
#border {
  border: 1px solid transparent;
  padding: 2px 15px;
  text-align: center;
  background-color: #A52A2A;
  color: hsla(57, 95%, 48%, 0.945);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;

}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
.content-wrap {
  flex: 1;
}


.color {
  background-color:rgba(9, 8, 20, 0.972);
  border: 1px solid transparent;
}





