.main-footer {
    color: whitesmoke;
    background-image: url('/brick.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Courier New';
}

.line {
    background-color: whitesmoke;
}

.sub-footer {
    display: flex;
    justify-content: center;
}

.line-spacing {
    letter-spacing:5px;
}
