.main-footer {
    color: #c89666;
    background-color: #12343b;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Courier New';
}

.line {
    background-color: #8B4513;
    height: 2px;
}

.sub-footer {
    display: flex;
    justify-content: center;
}

.line-spacing {
    letter-spacing: 5px;

}

.line-one {
    width: 41%;
    background-color: #8B4513;
    margin-left: 0px;
    height: 2px;
}

.line-two {
    width: 81%;
    background-color: #8B4513;
    margin-left: 0px;
    height: 2px;
}

.line-three {
    width: 95%;
    background-color: #8B4513;
    margin-left: 0px;
    height: 2px;
}

.icons-list {
    display: flex;
    justify-content: space-around;
}