.Container {
   width: 100%;
   display: flex;
   flex-direction: row-reverse;
}

.section-one {
   width: 45%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   line-height: 3em;
   font-size: 20px;
   margin: 50px;
   padding: 30px;
   border: 1px solid black;

}

.section-two {
   border: 1px solid black;
   width: 45%;
   margin: 50px;
}


.paragraph-one {
   border-bottom: 4px solid #2d545e;

}