.main-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;


}

.construction {
    text-align: center;
}

.section-three {
    margin: 20px;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
}

.section-four {
    border: 1px solid black;
    margin: 20px;
    padding: 30px;
}

.section-five {
    border: 1px solid black;
    margin: 20px;
    padding: 30px;

}

.section-six {
    border: 1px solid black;
    margin: 20px;
    padding: 30px;

}

.section-seven {
    border: 1px solid black;
    margin-top: 300px;
    padding: 30px;
    width: 650px;
    height: 500px;
    margin: 20px;

}