.header {
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #2d545e;
    /* background-image:  url('/header.png'); */
    justify-content: space-around;
    font-family: 'Courier New';

}